{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<br></br>
<hr class="my-4">
<form autocomplete="off">
    <div class="container">
        <div class="row row-cols-2">      
            <div class="col">
                <a href="#" class="btn btn-light btn-block btn-lg">
                    <i class="fa fa-check-square"></i> Attendance
                </a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-light btn-block btn-lg">
                    <i class="fa fa-user"></i> Student Register
                </a>
            </div>
        </div>
    </div>
    </br></br>
    </br></br>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <a href="#" class="btn btn-light btn-block btn-lg">
                    <i class="fa fa-file-text"></i> TOEFL Test Register
                </a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-light btn-block btn-lg">
                    <i class="fa fa-file-text"></i> Institutional Test Register
                </a>
            </div>
        </div>
    </div>
    </br></br>
    </br></br>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{{ url_for('inventory.inventory_list') }}" class="btn btn-block btn-light btn-lg">
                    <i class="fas fa-boxes"></i> Inventory
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %} 